<div class='carddetailPage'>
  <div class="container">
    <div class="cardContents">
      <div class="cardContents_date">
        <div>対応期限</div>
        <h2><%= @card.date %></h2>
      </div>
      <div class="cardContents_title">
        <div>件名</div>
        <h2><%= @card.title %></h2>
      </div>
      <div class="cardContents_memo">
        <div>内容</div>
        <div><%= @card.memo %></div>
      </div>
      <div class="cardContents_listStatus">
        <div>タスク名</div>
        <div><%= @card.list.title %></div>
      </div>

      <div class="cardContents_btnArea">
        <%= link_to '編集する', edit_list_card_path(@card.list, @card), class: "edit_btn" %>
        <%= link_to '削除する', list_card_path(@card.list, @card), class: "text-danger delete_btn", method: :delete, data: { confirm: "このタスクを削除して大丈夫ですか?" } %>
      </div>
    </div>
  </div>